<%= form_for(@profile) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



<div class="form-group">
	<%= f.label :user_id %>
	<%= f.label @profile.user.email %>
</div>
<div class="form-group">
	<%= f.label :name %><br>
    <%= f.text_field :name, :class => 'form-control' %>
</div>
<div class="form-group">
	 <%= f.label :address %><br>
    <%= f.text_field :address, :class => 'form-control' %>
</div>
<div class="form-group">
	 <%= f.label :phone %><br>
    <%= f.text_field :phone, :class => 'form-control' %>
</div>
<div class="form-inline">
	 <%= f.label :dob %><br>
    <%= f.date_select :dob,
			 {:order => [:day, :month, :year], :start_year => 1920, :end_year => 2013},
{:class => "form-control"} %>
</div>
<div class="row">
	<div class="col-xs-12" style="height:10px;"></div>
  </div>
	<%= f.submit 'Save', :class => 'btn btn-success pull-left' %>
		
    
  
<% end %>
